{% extends "base.html" %}
{% block title %}home{% endblock %}

{% block content %}
{% if articles %}
<h2 class="title">recent posts</h2>
{% for article in articles[:4] %}
<h3 class="article-title"><strong><a href="/{{ article.slug }}.html"> 📝 {{ article.title }}</a></strong></h3>
<label class="article-timestamp">Posted on <strong>{{ article.locale_date }}</strong></label>
<p class="article-summary"> {{ article.summary|striptags }}</p>
 <p class="jump-link"><a href="/{{ article.slug }}.html">Read more...</a></p>
<div style="clear: both;">&nbsp;</div>
{% endfor %}
{% else %}
        <div id="content">
        </div>
{% endif %}
{% endblock %}
